* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} //RESETEO CSS NAVEGADOR

//*******************GLOBALES**************************//
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.3rem;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.1rem;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.6rem;
  }
}

p {
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.oculto {
  display: none;
}

body {
  background-color: var(--color-fondo);
  overflow-x: hidden;
  cursor: default;
}
a {
  color: white;
  text-decoration: none;
  font-family: var(--fuente-titulos);
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.titulos-internos {
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}
//*****************************TIPOGRAFIA Y COLORES*********************************//
:root {
  --fuente-titulos: "Playfair Display", serif;
  --fuente-parrafos: "Source Sans Pro", sans-serif;
  --fuente-logo: "Audiowide", cursive;
  --color-principal: #d46a92;
  --color-secundario: #6a4162;
  --color-p-claro: #f6d2d6;
  --color-p-oscuro: #f39db6;
  --color-fondo: #fefafa;
}

//*****************************FUNCIONES*********************************//
@mixin background($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

///*****************************BOTONES*********************************//
.btn,
.btn-form {
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  background: linear-gradient(to left, #d46a92, #f39db6);
  border: none;
  color: white;
}
.btn {
  font-size: 0.9rem;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #fafafa;
  cursor: pointer;
}

.btn-presencial {
  box-shadow: 0px 0px 15px #fe9db6;
}

.btn-form {
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border-radius: 30px;
  i {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  span {
    @include flexbox(row, center, center);
  }
}

//*****************************INICIO HEADER*********************************//
.header-principal {
  color: white;
  position: relative;
  width: 100%;
  height: 380px;
  background: url(../images/hero-images/woman-sitting-on-brown-stool-374054.jpg);
  @include background(cover, no-repeat, center);
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--color-fondo);
    z-index: 2;
  }
}
.header-principal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee9ca7; /* fallback for old browsers */
  background: linear-gradient(to left, #6a4162b0, #d46a93af);
  z-index: 1;
}

.navegacion-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.432);
  .contenedor {
    display: flex;
    @include flexbox(row, space-between, center);
  }
  .contenedor-logo {
    height: 100%;
    width: 40%;
    @include flexbox(row, space-between, center);
    min-width: 160px;
    max-width: 200px;
    .logo {
      font-family: var(--fuente-logo);
      text-transform: uppercase;
    }
    span {
      width: 40%;
      @include flexbox(row, space-evenly, center);
      text-transform: capitalize;
      font-family: var(--fuente-parrafos);
    }
  }
  .nav-header {
    height: 100%;
    @include flexbox(row, flex-end, center);
    .hamburguesa {
      width: 40px;
      height: 100%;
      @include flexbox(column, center, center);
      span {
        width: 25px;
        height: 3px;
        background: white;
      }
      .span-pequeño {
        margin: 5px 0;
        width: 20px;
      }
    }
  }
}

.hero-contenido {
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center);
  .contenedor {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
    color: white;
    max-width: 950px;
  }
  .titulo-principal {
    margin-top: 100px;
    text-align: center;
    padding: 10px 0 5px 0;
    max-width: 400px;
    letter-spacing: 1px;
    font-family: var(--fuente-titulos);
    font-style: italic;
  }
  .descripcion-principal {
    text-align: center;
    width: 95%;
    max-width: 340px;
    font-family: var(--fuente-parrafos);
    text-transform: capitalize;
    color: rgb(231, 231, 231);
    margin-top: 20px;
  }
  .btn {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: flex-end;
  }
}

//*************INICIO QUERYS HEADER*************//

//QUERY 520PX
@media (min-width: 520px) {
  .header-principal {
    height: 400px;
    .navegacion-principal {
      height: 65px;
    }
  }
}

//QUERY 768PX
@media (min-width: 768px) {
  .header-principal {
    height: 530px;
  }
  .navegacion-principal {
    .nav-header {
      width: 60%;
    }
  }

  .hero-contenido {
    .titulo-principal {
      margin-top: 120px;
      font-size: 2rem;
      max-width: 450px;
    }
  }
}

@media (min-width: 900px) {
  .navegacion-principal {
    .nav-header {
      width: 70%;
      .hamburguesa {
        display: none;
      }
    }
  }
  .oculto {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
}

//QUERYS 1024PX EN ADELANTE
@media (min-width: 1024px) {
  .logo {
    font-size: 1.5rem;
  }
  .hero-contenido {
    .titulo-principal {
      margin-top: 150px;
      font-size: 2.5rem;
      max-width: 600px;
    }
  }
  .header-principal {
    height: 750px;
  }
}
@media (min-width: 1440px) {
  .header-principal {
    height: 900px;
  }
  .hero-contenido {
    .titulo-principal {
      margin-top: 200px;
      font-size: 3rem;
      max-width: 700px;
    }
  }
  .oculto {
    a {
      font-size: 1.3rem;
    }
  }
}
@media (min-width: 1800px) {
  .header-principal {
    height: 1000px;
  }
}

@media (min-width: 2200px) {
  .header-principal {
    height: 1200px;
  }
  .hero-contenido {
    .titulo-principal {
      margin-top: 250px;
      font-size: 4rem;
      max-width: 900px;
    }
  }
}

//*****************************INICIO PRIMER SECCION*********************************//
.header-interno {
  width: 100%;
  height: 50px;
  @include flexbox(row, center, center);
}

.seccion-trabajos {
  position: relative;
  color: rgb(71, 71, 71);
  padding: 30px 0;

  .contenedor {
    @include flexbox(column, space-evenly, center);
  }
  .cartas {
    background: linear-gradient(45deg, #d46a92 1%, var(--color-fondo) 50%);
    padding: 5px 5px;
    width: 90%;
    max-width: 350px;
    margin: 30px 0;
    box-shadow: 1px 1px 20px rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    .ilustracion {
      img {
        height: 292px;
        width: 100%;
      }
    }
  }
  .nombre-curso {
    width: 100%;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(100, 100, 100);
    margin: 10px 0 30px 0;
  }
  .descripcion-contenedor {
    padding: 0 5px;
    height: 500px;
    @include flexbox(column, space-evenly, center);
    .btn {
      align-self: flex-end;
      margin-bottom: -10px;
      margin-right: 5px;
    }
  }
  .descripcion {
    width: 100%;
    height: 180px;
    @include flexbox(row, center, center);
    .indice {
      width: 20%;
      height: 100%;
      p {
        height: 35px;
        @include flexbox(row, center, center);
        width: 35px;
        margin: 5px auto;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
        background: linear-gradient(to left, #d46a92, #f39db6);
        box-shadow: 1px 1px 15px #f39db6;
      }
    }
    .parrafo {
      width: 80%;
      height: 100%;
      text-transform: capitalize;
      line-height: 30px;
      padding-top: 15px;
      text-indent: 15px;
    }
  }
}

//********INICIO QUERYS SECCION PRINCIPAL*******//

//QUERY 768PX
@media (min-width: 768px) {
  .seccion-trabajos {
    .cartas {
      max-width: 850px;
      flex-direction: row;
    }
    .ilustracion {
      width: 50%;
      img {
        max-height: 292px;
      }
    }
    .descripcion-contenedor {
      width: 50%;
    }
    .descripcion {
      .parrafo {
        line-height: 31px;
      }
    }
  }
}

//QUERY 1024PX
@media (min-width: 1024px) {
  .seccion-trabajos {
    height: 1400px;
    .cartas {
      padding: 20px;
      .ilustracion {
      }
      .nombre-curso {
        margin-top: 0;
      }
      .descripcion {
        .parrafo {
          line-height: 40px;
        }
      }
    }
  }
}

//*************FIN SECCION PRINCIPAL****************//

//*****************************INICIO CARRETE*********************************//
.carrete {
  position: relative;
  width: 100%;
  height: 550px;
  .contenedor-carrete {
    margin-top: 25px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    .imagenes-carrete {
      margin: 0 10px;
    }
  }
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--color-p-claro);
    z-index: 2;
  }
}

//**************INICIO QUERYS CARRETE****************//

//QUERY 768PX
@media (min-width: 768px) {
  .carrete {
    height: 650px;
  }
}

//QUERYS 1244 EN ADELANTE
@media (min-width: 1244px) {
  .carrete {
    height: 700px;
  }
}
@media (min-width: 1440px) {
  .carrete {
    height: 800px;
  }
}
@media (min-width: 1700px) {
  .carrete {
    height: 1000px;
  }
}
@media (min-width: 1700px) {
  .carrete {
    height: 1200px;
  }
}

//*****************************INICIO SECCION CURSOS ONLINE*********************************//
.online {
  position: relative;
  background: var(--color-p-claro);
  .cartas {
    box-shadow: 1px 1px 15px var(--color-secundario);
    background: linear-gradient(-135deg, #d46a92 1%, var(--color-fondo) 50%);
  }
}
.carrete-online {
  background: var(--color-p-claro);
  height: 450px;
  .imagenes-carrete {
    height: 300px;
    @include flexbox(row, center, center);
    background: var(--color-fondo);
  }
}

//*******************FIN SECCION CURSOS ONLINE******************//

//*****************************INICIO SECCION TESTIMONIALES*********************************//
.testimoniales {
  background: url(../images/hero-images/happy-artist-drawing-on-easel-in-workplace-3880775.jpg);
  @include background(cover, no-repeat, center);
  width: 100%;
  position: relative;
  padding: 15px 0;

  h1 {
    margin-bottom: 35px;
    width: 100%;
    height: 60px;
    @include flexbox(row, center, center);
    font-family: var(--fuente-titulos);
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    position: relative;
    z-index: 2;
  }
  .slick-vertical {
    @include flexbox(column, space-evenly, center);
  }
  .descripcion-testimoniales {
    margin: 15px 0;
    background: linear-gradient(#d46a92 1%, #f5d6d6 80%);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    max-width: 260px;
    .imagen-testimoniales {
      background: url(../images/testimoniales/SinTítulo.png);
      @include background(cover, no-repeat, center);
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin: 10px 0;
    }
    .imagen-dos {
      background: url(../images/testimoniales/SinTítulo2.png);
      @include background(cover, no-repeat, center);
    }
    .parrafo-testimoniales {
      position: relative;
      height: 220px;
      @include flexbox(column, space-between, center);
      padding: 15px;
      q {
        text-align: center;
        line-height: 32px;
        font-family: var(--fuente-titulos);
        font-style: italic;
      }
      span {
        font-weight: bold;
      }
      p {
        font-style: italic;
      }
    }
  }
  .slick-track {
    @include flexbox(column, space-evenly, center);
    height: 100%;
  }
}
.testimoniales::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee9ca7; /* fallback for old browsers */
  background: linear-gradient(to left, #6a416285, #d46a93af);
  z-index: 1;
}

.slick-vertical {
  margin: 0 20px;
  position: relative;
  z-index: 10;
}
//********INICIO TESTIMONIALES QUERYS*******//

//QUERY 768PX
@media (min-width: 768px) {
  .testimoniales {
    @include flexbox(row, space-evenly, center);
  }
}

//****************FIN SECCION TESTIMONIALES****************//

//*****************************INICIO FOOTER*********************************//
footer {
  width: 100%;
  background: var(--color-p-claro);
  .contenedor {
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.titulo-contacto-form {
  margin-bottom: 35px;
  width: 100%;
  height: 60px;
  @include flexbox(row, center, center);
  font-family: var(--fuente-titulos);
  font-style: italic;
  letter-spacing: 2px;
}
.formulario-contacto {
  width: 100%;
  max-width: 490px;
  @include flexbox(column, center, center);
  padding: 10px 10px;
  background: var(--color-fondo);
  border-radius: 10px;
  .contenedor-form {
    width: 100%;
    height: 90px;
    @include flexbox(column, space-evenly, flex-start);
    margin: 15px 0;
  }
  .label-input100 {
    font-size: 0.8rem;
    font-family: var(--fuente-parrafos);
  }
  .input100,
  .select-1 {
    text-transform: capitalize;
    font-family: var(--fuente-parrafos);
    font-size: 1.1rem;
    font-style: italic;
    padding: 0 5px;
    border: none;
    outline: none;
  }
  .input100 {
    width: 100%;
    background: none;
    height: 40px;
  }
  .select-1 {
    width: 100%;
    background: none;
    height: 40px;
    option {
      box-shadow: 0 0 10px 100px #1882a8 inset;
    }
  }
  .focus-input100 {
    position: relative;
    width: 100%;
    height: 1.5px;
    background: rgb(131, 131, 131);
    overflow: hidden;
  }
  .focus-input100::after {
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    position: absolute;
    background: #fd5998;
    transition: all 0.3s ease-in-out;
  }
  .input100:focus + .focus-input100::after {
    left: 0;
  }
  .form-mensaje {
    height: 200px;
    .input100 {
      height: 130px;
      padding: 10px 5px;
    }
  }
  .contenedor-boton-form {
    width: 100%;
    height: 60px;
    @include flexbox(column, space-evenly, flex-start);
  }
}

//*****************************FIN FOOTER********************************//

//*****************************INICIO SECCION SOCIALES*********************************//

.sociales {
  max-width: 490px;
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: var(--fuente-titulos);
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
    height: 50px;
    @include flexbox(row, center, center);
  }
  .contenedor-redes {
    width: 100%;
    height: 80px;
    @include flexbox(row, center, center);
    i {
      width: 25%;
      height: 100%;
      @include flexbox(row, center, center);
      font-size: 2.5rem;
    }
  }
}
//************FIN SECCION SOCIALES****************//

//*****************************INICIO COPY********************************//
.copy {
  background: rgba(0, 0, 0, 0.459);
  color: white;
  height: 30px;
  @include flexbox(row, center, center);
  font-family: var(--fuente-titulos);
  font-size: 0.9rem;
}
//***************FIN COPY*****************//
