@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.oculto {
  display: none;
}

body {
  background-color: var(--color-fondo);
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  font-family: var(--fuente-titulos);
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.titulos-internos {
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}

:root {
  --fuente-titulos: "Playfair Display", serif;
  --fuente-parrafos: "Source Sans Pro", sans-serif;
  --fuente-logo: "Audiowide", cursive;
  --color-principal: #d46a92;
  --color-secundario: #6a4162;
  --color-p-claro: #f6d2d6;
  --color-p-oscuro: #f39db6;
  --color-fondo: #fefafa;
}

.btn {
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 5px 15px;
  background: -webkit-gradient(linear, right top, left top, from(#d46a92), to(#f39db6));
  background: linear-gradient(to left, #d46a92, #f39db6);
  border-radius: 5px;
  border: none;
  color: white;
  -webkit-box-shadow: 1px 1px 15px #f39db6;
          box-shadow: 1px 1px 15px #f39db6;
}

.header-principal {
  color: white;
  position: relative;
  width: 100%;
  height: 380px;
  background: url(../images/hero-images/woman-sitting-on-brown-stool-374054.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-principal svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--color-fondo);
  z-index: 2;
}

.header-principal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#6a4162b0), to(#d46a93af));
  background: linear-gradient(to left, #6a4162b0, #d46a93af);
  z-index: 1;
}

.navegacion-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.432);
}

.navegacion-principal .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .contenedor-logo {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
  max-width: 200px;
}

.navegacion-principal .contenedor-logo .logo {
  font-family: var(--fuente-logo);
  text-transform: uppercase;
}

.navegacion-principal .contenedor-logo span {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-family: var(--fuente-parrafos);
}

.navegacion-principal .nav-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .nav-header .hamburguesa {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .nav-header .hamburguesa span {
  width: 25px;
  height: 3px;
  background: white;
}

.navegacion-principal .nav-header .hamburguesa .span-pequeño {
  margin: 5px 0;
  width: 20px;
}

.hero-contenido {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-contenido .contenedor {
  height: 60%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 999;
  color: white;
  max-width: 550px;
}

.hero-contenido .contenedor .titulo-principal {
  text-align: center;
  padding: 10px 0 5px 0;
  max-width: 400px;
  letter-spacing: 1px;
  font-family: var(--fuente-titulos);
  font-style: italic;
}

.hero-contenido .contenedor .descripcion-principal {
  text-align: center;
  width: 95%;
  max-width: 340px;
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  color: #e7e7e7;
  margin-top: 20px;
}

.hero-contenido .contenedor .btn {
  margin-top: auto;
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 520px) {
  .header-principal {
    height: 400px;
  }
  .header-principal .navegacion-principal {
    height: 65px;
  }
}

@media (min-width: 768px) {
  .header-principal {
    height: 530px;
  }
  .navegacion-principal .nav-header {
    width: 60%;
  }
  .navegacion-principal .nav-header .hamburguesa {
    display: none;
  }
  .oculto {
    display: block;
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media (min-width: 1024px) {
  .hero-contenido .contenedor {
    max-height: 300px;
  }
  .header-principal {
    height: 610px;
  }
}

@media (min-width: 1440px) {
  .header-principal {
    height: 800px;
  }
}

@media (min-width: 1800px) {
  .header-principal {
    height: 1000px;
  }
}

@media (min-width: 2200px) {
  .header-principal {
    height: 1200px;
  }
}

.header-interno {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos {
  position: relative;
  color: #474747;
  padding: 30px 0;
}

.seccion-trabajos .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos .cartas {
  width: 90%;
  max-width: 350px;
  margin: 30px 0;
  padding: 0px 5px;
  -webkit-box-shadow: 1px 1px 20px #dbdbdb;
          box-shadow: 1px 1px 20px #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion-trabajos .cartas .ilustracion img {
  height: 292px;
  width: 100%;
}

.seccion-trabajos .nombre-curso {
  width: 100%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-style: italic;
  letter-spacing: 1px;
  color: #6b6b6b;
  margin: 10px 0 30px 0;
}

.seccion-trabajos .descripcion-contenedor {
  padding: 0 5px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos .descripcion {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos .descripcion .indice {
  width: 20%;
  height: 100%;
}

.seccion-trabajos .descripcion .indice p {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  margin: 5px auto;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#d46a92), to(#f39db6));
  background: linear-gradient(to left, #d46a92, #f39db6);
  -webkit-box-shadow: 1px 1px 15px #f39db6;
          box-shadow: 1px 1px 15px #f39db6;
}

.seccion-trabajos .descripcion .parrafo {
  width: 80%;
  height: 100%;
  text-transform: capitalize;
  line-height: 25px;
  padding-top: 15px;
  text-indent: 15px;
}

@media (min-width: 768px) {
  .seccion-trabajos .cartas {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .seccion-trabajos .ilustracion {
    width: 50%;
  }
  .seccion-trabajos .ilustracion img {
    max-height: 292px;
  }
  .seccion-trabajos .descripcion-contenedor {
    width: 50%;
  }
  .seccion-trabajos .descripcion .parrafo {
    line-height: 31px;
  }
}

@media (min-width: 1024px) {
  .seccion-trabajos .cartas {
    padding: 20px;
  }
  .seccion-trabajos .cartas .nombre-curso {
    margin-top: 0;
  }
  .seccion-trabajos .cartas .descripcion .parrafo {
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .seccion-trabajos {
    height: 1200px;
  }
}

.carrete {
  position: relative;
  width: 100%;
  height: 550px;
}

.carrete .contenedor-carrete {
  margin-top: 25px;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrete .contenedor-carrete .imagenes-carrete {
  margin: 0 10px;
}

.carrete svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--color-p-claro);
  z-index: 2;
}

/*.carrete::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: red;
  transform: skewY(8deg);
  background: var(--color-p-claro);
  z-index: -10;
}
*/
@media (min-width: 768px) {
  .carrete {
    height: 650px;
  }
}

@media (min-width: 1244px) {
  .carrete {
    height: 700px;
  }
}

@media (min-width: 1440px) {
  .carrete {
    height: 800px;
  }
}

@media (min-width: 1700px) {
  .carrete {
    height: 1000px;
  }
}

@media (min-width: 1700px) {
  .carrete {
    height: 1200px;
  }
}

.online {
  position: relative;
  background: var(--color-p-claro);
}

.online .cartas {
  -webkit-box-shadow: 1px 1px 15px var(--color-secundario);
          box-shadow: 1px 1px 15px var(--color-secundario);
  background: var(--color-fondo);
}

.carrete-online {
  background: var(--color-p-claro);
  height: 450px;
}

.carrete-online .imagenes-carrete {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-fondo);
}

.testimoniales {
  background: url(../images/hero-images/happy-artist-drawing-on-easel-in-workplace-3880775.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 680px;
  position: relative;
  padding: 15px 0;
}

.testimoniales .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimoniales .descripcion-testimoniales {
  margin: 15px 0;
  background: #d46a92;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  max-width: 260px;
}

.testimoniales .descripcion-testimoniales .imagen-testimoniales {
  background: url(../images/testimoniales/SinTítulo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0;
}

.testimoniales .descripcion-testimoniales .imagen-dos {
  background: url(../images/testimoniales/SinTítulo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales {
  position: relative;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales q {
  text-align: center;
  line-height: 32px;
  font-family: var(--fuente-titulos);
  font-style: italic;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales span {
  font-weight: bold;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales p {
  font-style: italic;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d46a92), color-stop(90%, #fefafa));
  background: linear-gradient(to bottom, #d46a92, #fefafa 90%);
  z-index: -1;
}

.testimoniales .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.testimoniales::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#6a4162b0), to(#d46a93af));
  background: linear-gradient(to left, #6a4162b0, #d46a93af);
  z-index: 1;
}

.slick-vertical {
  margin: 0 20px;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .testimoniales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */