* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//GLOBALES

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.oculto {
  display: none;
}

body {
  background-color: var(--color-fondo);
}
a {
  color: white;
  text-decoration: none;
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 0.5px;
}
//TIPOGRAFIA Y COLORES
:root {
  --fuente-titulos: "Playfair Display", serif;
  --fuente-parrafos: "Source Sans Pro", sans-serif;
  --fuente-logo: "Audiowide", cursive;
  --color-principal: #d46a92;
  --color-secundario: #6a4162;
  --color-p-claro: #f6d2d6;
  --color-p-oscuro: #f39db6;
  --color-fondo: #fefafa;
}

//FUNCIONES
@mixin background($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//BOTONES

.btn {
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 5px 15px;
  background: linear-gradient(to left, #d46a92, #f39db6);
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 15px #f39db6;
}

//INICIO CONTENIDO PRINCIPAL
.header-principal {
  color: white;
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 50vh;
  background: url(../images/woman-sitting-on-brown-stool-374054.jpg);
  @include background(cover, no-repeat, center);
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--color-fondo);
    z-index: 2;
  }
}
.header-principal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee9ca7; /* fallback for old browsers */
  background: linear-gradient(to left, #6a4162b0, #d46a93af);
  z-index: 1;
}
.navegacion-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 5vh;
  background: rgba(0, 0, 0, 0.342);
  .contenedor {
    display: flex;
    @include flexbox(row, space-between, center);
  }
  .contenedor-logo {
    height: 100%;
    width: 40%;
    @include flexbox(row, space-between, center);
    min-width: 160px;
    max-width: 200px;
    .logo {
      font-family: var(--fuente-logo);
      text-transform: uppercase;
    }
    span {
      font-size: 0.9rem;
      width: 40%;
      @include flexbox(row, space-evenly, center);
      text-transform: capitalize;
      font-family: var(--fuente-parrafos);
    }
  }
  .nav-header {
    height: 100%;
    @include flexbox(row, flex-end, center);
    .hamburguesa {
      width: 40px;
      height: 100%;
      @include flexbox(column, center, center);
      span {
        width: 25px;
        height: 3px;
        background: white;
      }
      .span-pequeño {
        margin: 5px 0;
        width: 20px;
      }
    }
  }
}
.hero-contenido {
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center);
  .contenedor {
    height: 60%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
    color: white;
    max-width: 550px;
    .titulo-principal {
      text-align: center;
      padding: 10px 0 5px 0;
      max-width: 400px;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-family: var(--fuente-titulos);
      font-style: italic;
    }
    .descripcion-principal {
      text-align: center;
      font-size: 1rem;
      width: 95%;
      max-width: 340px;
      font-family: var(--fuente-parrafos);
      text-transform: capitalize;
      color: rgb(231, 231, 231);
      margin-top: 20px;
    }
    .btn {
      margin-top: auto;
      margin-bottom: 10px;
      align-self: flex-end;
    }
  }
}
@media (min-width: 520px) {
  .header-principal {
    height: 50vh;
    .navegacion-principal {
      height: 8vh;
    }
  }
}
@media (min-width: 768px) {
  .header-principal {
    height: 70vh;
  }
  .contenedor-logo {
  }
  .navegacion-principal {
    .nav-header {
      width: 60%;
      .hamburguesa {
        display: none;
      }
    }
  }
  .oculto {
    display: block;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
}
@media (min-width: 1024px) {
  .header-principal {
    height: 80vh;
  }
}
@media (min-width: 1440px) {
  .header-principal {
    height: 90vh;
  }
}
