@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.1rem;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 1.6rem;
  }
}

p {
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  p {
    font-size: 1rem;
  }
}

img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.contenedor {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.oculto {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: var(--color-fondo);
  cursor: default;
}

a {
  color: white;
  text-decoration: none;
  font-family: var(--fuente-titulos);
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.titulos-internos {
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}

.logo {
  font-family: var(--fuente-logo);
  text-transform: uppercase;
  font-style: normal;
}

:root {
  --fuente-titulos: "Playfair Display", serif;
  --fuente-parrafos: "Source Sans Pro", sans-serif;
  --fuente-logo: "Audiowide", cursive;
  --color-principal: #d46a92;
  --color-secundario: #6a4162;
  --color-p-claro: #f6d2d6;
  --color-p-oscuro: #f39db6;
  --color-fondo: #fefafa;
}

.btn,
.btn-form {
  border: none;
  color: white;
  font-family: var(--fuente-parrafos);
  text-transform: capitalize;
  background: -webkit-gradient(linear, right top, left top, from(#d46a92), to(#f39db6));
  background: linear-gradient(to left, #d46a92, #f39db6);
  cursor: pointer;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 15px #fafafa;
          box-shadow: 1px 1px 15px #fafafa;
  font-size: 0.9rem;
}

.btn-presencial {
  -webkit-box-shadow: 0px 0px 15px #fe9db6;
          box-shadow: 0px 0px 15px #fe9db6;
  cursor: pointer;
}

.btn-form {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  border-radius: 30px;
}

.btn-form i {
  margin-left: 10px;
  font-size: 1.2rem;
}

.btn-form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-principal {
  position: relative;
  width: 100%;
  height: 380px;
  color: white;
  background: url("/images/hero-images/portada01.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-principal svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--color-fondo);
  z-index: 2;
}

.header-principal::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#6a4162b0), to(#d46a93af));
  background: linear-gradient(to left, #6a4162b0, #d46a93af);
}

.navegacion-principal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.432);
}

.navegacion-principal .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .contenedor-logo {
  width: 40%;
  min-width: 160px;
  max-width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .contenedor-logo span {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-family: var(--fuente-parrafos);
}

.navegacion-principal .nav-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .nav-header .hamburguesa {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-principal .nav-header .hamburguesa span {
  width: 25px;
  height: 3px;
  background: white;
}

.navegacion-principal .nav-header .hamburguesa .span-pequeño {
  margin: 5px 0;
  width: 20px;
}

.hero-contenido {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-contenido .contenedor {
  position: relative;
  z-index: 999;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-contenido .titulo-principal {
  max-width: 400px;
  margin-top: 100px;
  padding: 10px 0 5px 0;
  font-family: var(--fuente-titulos);
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
}

.hero-contenido .descripcion-principal {
  width: 95%;
  max-width: 440px;
  margin-top: 20px;
  color: #e7e7e7;
  font-family: var(--fuente-parrafos);
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.hero-contenido .btn {
  margin-top: auto;
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 520px) {
  .header-principal {
    height: 400px;
  }
  .header-principal .navegacion-principal {
    height: 65px;
  }
}

@media (min-width: 768px) {
  .header-principal {
    height: 530px;
  }
  .navegacion-principal .nav-header {
    width: 60%;
  }
  .hero-contenido .titulo-principal {
    margin-top: 120px;
    font-size: 2rem;
    max-width: 450px;
  }
}

@media (min-width: 900px) {
  .navegacion-principal .nav-header {
    width: 70%;
  }
  .navegacion-principal .nav-header .hamburguesa {
    display: none;
  }
  .oculto {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 1.5rem;
  }
  .hero-contenido .titulo-principal {
    max-width: 600px;
    margin-top: 150px;
    font-size: 2.5rem;
  }
  .header-principal {
    height: 750px;
  }
}

@media (min-width: 1440px) {
  .header-principal {
    height: 900px;
  }
  .hero-contenido .titulo-principal {
    max-width: 700px;
    margin-top: 200px;
    font-size: 3rem;
  }
  .oculto a {
    font-size: 1.3rem;
  }
}

@media (min-width: 1800px) {
  .header-principal {
    height: 1000px;
  }
}

@media (min-width: 2200px) {
  .header-principal {
    height: 1200px;
  }
  .hero-contenido .titulo-principal {
    max-width: 900px;
    margin-top: 250px;
    font-size: 4rem;
  }
}

.header-interno {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos {
  position: relative;
  padding: 30px 0;
  color: #474747;
}

.seccion-trabajos .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos .cartas {
  width: 90%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
  padding: 5px 5px;
  -webkit-box-shadow: 1px 1px 20px rgba(219, 219, 219, 0.568);
          box-shadow: 1px 1px 20px rgba(219, 219, 219, 0.568);
  background: linear-gradient(45deg, #d46a92 1%, var(--color-fondo) 50%);
}

.seccion-trabajos .cartas .ilustracion img {
  width: 100%;
  height: 292px;
}

.seccion-trabajos .nombre-curso {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 10px 0 30px 0;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}

.seccion-trabajos .descripcion-contenedor {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.seccion-trabajos .descripcion-contenedor .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -10px;
  margin-right: 5px;
}

.seccion-trabajos .descripcion {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion-trabajos .descripcion .indice {
  width: 20%;
  height: 100%;
}

.seccion-trabajos .descripcion .indice p {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px auto;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 15px #f39db6;
          box-shadow: 1px 1px 15px #f39db6;
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#d46a92), to(#f39db6));
  background: linear-gradient(to left, #d46a92, #f39db6);
  font-weight: bold;
  font-size: 1.1rem;
}

.seccion-trabajos .descripcion .parrafo {
  width: 80%;
  height: 100%;
  padding-top: 15px;
  text-transform: capitalize;
  line-height: 30px;
  text-indent: 15px;
}

@media (min-width: 768px) {
  .seccion-trabajos .cartas {
    max-width: 850px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .seccion-trabajos .ilustracion {
    width: 50%;
  }
  .seccion-trabajos .ilustracion img {
    max-height: 292px;
  }
  .seccion-trabajos .descripcion-contenedor {
    width: 50%;
  }
  .seccion-trabajos .descripcion .parrafo {
    line-height: 31px;
  }
}

@media (min-width: 1024px) {
  .seccion-trabajos {
    height: 1400px;
  }
  .seccion-trabajos .cartas {
    padding: 20px;
  }
  .seccion-trabajos .cartas .nombre-curso {
    margin-top: 0;
  }
  .seccion-trabajos .cartas .descripcion .parrafo {
    line-height: 40px;
  }
}

.carrete {
  position: relative;
  width: 100%;
  height: 550px;
}

.carrete .contenedor-carrete {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 10px 0;
}

.carrete .contenedor-carrete .imagenes-carrete {
  margin: 0 10px;
  cursor: pointer;
}

.carrete svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  fill: var(--color-p-claro);
}

@media (min-width: 768px) {
  .carrete {
    height: 650px;
  }
}

@media (min-width: 1244px) {
  .carrete {
    height: 700px;
  }
}

@media (min-width: 1440px) {
  .carrete {
    height: 800px;
  }
}

@media (min-width: 1700px) {
  .carrete {
    height: 1000px;
  }
}

@media (min-width: 1700px) {
  .carrete {
    height: 1200px;
  }
}

.online {
  position: relative;
  background: var(--color-p-claro);
}

.online .cartas {
  -webkit-box-shadow: 1px 1px 15px #6a416244;
          box-shadow: 1px 1px 15px #6a416244;
  background: linear-gradient(-135deg, #d46a92 1%, var(--color-fondo) 50%);
}

.carrete-online {
  height: 450px;
  background: var(--color-p-claro);
}

.carrete-online .imagenes-carrete {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-fondo);
}

.testimoniales {
  position: relative;
  width: 100%;
  padding: 15px 0;
  background: url("/images/hero-images/portada02.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimoniales h1 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  color: white;
  font-family: var(--fuente-titulos);
  font-style: italic;
  letter-spacing: 2px;
}

.testimoniales .slick-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimoniales .descripcion-testimoniales {
  position: relative;
  z-index: 2;
  max-width: 260px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #d46a92), color-stop(80%, #f5d6d6));
  background: linear-gradient(#d46a92 1%, #f5d6d6 80%);
}

.testimoniales .descripcion-testimoniales .imagen-testimoniales {
  height: 60px;
  width: 60px;
  margin: 10px 0;
  border-radius: 50%;
  background: url("/images/testimoniales/SinTítulo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimoniales .descripcion-testimoniales .imagen-dos {
  background: url("/images/testimoniales/SinTítulo2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales {
  position: relative;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales q {
  text-align: center;
  line-height: 32px;
  font-family: var(--fuente-titulos);
  font-style: italic;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales span {
  font-weight: bold;
}

.testimoniales .descripcion-testimoniales .parrafo-testimoniales p {
  font-style: italic;
}

.testimoniales .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.testimoniales::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#6a416285), to(#d46a93af));
  background: linear-gradient(to left, #6a416285, #d46a93af);
}

.slick-vertical {
  position: relative;
  z-index: 10;
  margin: 0 20px;
}

@media (min-width: 768px) {
  .testimoniales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  width: 100%;
  background: var(--color-p-claro);
}

footer .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.titulo-contacto-form {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  font-family: var(--fuente-titulos);
  font-style: italic;
  letter-spacing: 2px;
}

.formulario-contacto {
  width: 100%;
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  background: var(--color-fondo);
}

.formulario-contacto .contenedor-form {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
}

.formulario-contacto .label-input100 {
  font-size: 0.8rem;
  font-family: var(--fuente-parrafos);
}

.formulario-contacto .input100,
.formulario-contacto .select-1 {
  padding: 0 5px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-family: var(--fuente-parrafos);
  font-size: 1.1rem;
  font-style: italic;
}

.formulario-contacto .input100 {
  width: 100%;
  height: 40px;
  background: none;
}

.formulario-contacto .select-1 {
  width: 100%;
  height: 40px;
  background: none;
  cursor: pointer;
}

.formulario-contacto .select-1 option {
  -webkit-box-shadow: 0 0 10px 100px #1882a8 inset;
          box-shadow: 0 0 10px 100px #1882a8 inset;
}

.formulario-contacto .focus-input100 {
  position: relative;
  width: 100%;
  height: 1.5px;
  overflow: hidden;
  background: #838383;
}

.formulario-contacto .focus-input100::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #fd5998;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.formulario-contacto .input100:focus + .focus-input100::after {
  left: 0;
}

.formulario-contacto .form-mensaje {
  height: 200px;
}

.formulario-contacto .form-mensaje .input100 {
  height: 130px;
  padding: 10px 5px;
}

.formulario-contacto .contenedor-boton-form {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sociales {
  width: 100%;
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

.sociales h2 {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fuente-titulos);
  text-transform: uppercase;
  font-style: italic;
}

.sociales .contenedor-redes {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sociales i {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: #6a4162;
}

.sociales i:hover {
  color: #d46a92;
}

@media (min-width: 768px) {
  .sociales i {
    margin: 0px 35px;
  }
}

.copy {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.459);
  font-family: var(--fuente-titulos);
  font-size: 0.9rem;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99999;
  width: 100%;
  max-width: 400px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-desplegable .logo {
  position: absolute;
  z-index: 5;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.menu-desplegable .btn-cerrar {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 2;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .linea-cerrar {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-desplegable .linea-cerrar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-desplegable .contenedor-categorias {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background: #f39db6;
  background: -webkit-gradient(linear, right top, left top, from(#d46a92), to(#f39db6));
  background: linear-gradient(to left, #d46a92, #f39db6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .categorias {
  height: 50px;
  margin: 30px 0;
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--fuente-titulos);
}

@media (min-width: 900px) {
  .menu-desplegable {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */